<h1>{{title}} 🚀</h1>

<div class="about">
<p>Project 2 was born from the collaboration between two bootcamp colleagues. The idea of making a music project, both colleagues started with the ambition to break the routines of parties where there is always fights in the choice of music.</p>
</div>