<h1>{{username}}</h1>

<div class="profile">
    <a href='/myplaylists'>My Playlists</a><br>{{!-- {{COMO COLOCAR O USER ID AQUI}} --}}
    <a href="/search-playlist">Search Playlist</a><br>
    <a href="/create/login">Create a playlist</a><br>
</div>



