<h1>{{username}}</h1>

<div class="profile">
    <a href='/myplaylists/{{_id}}'>My Playlists</a>  {{!-- {{COMO COLOCAR O USER ID AQUI}} --}}
    <a href="/search-playlist">Search Playlist</a>
    <a href="/create/login">Create a playlist</a>
</div>



