/* azul: #007fff rosa: #ff00ff roxo: #7f00ff ciano: #00ffff 
font-family: 'Black Han Sans', sans-serif;
font-family: 'Days One', sans-serif;
font-family: 'Encode Sans Expanded', sans-serif;
font-family: 'Seymour One', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Days+One&family=Encode+Sans+Expanded:wght@100;400;900&family=Seymour+One&display=swap');

html {
  margin: 0;
 /*  background-image: url('/images/jukebox-bgblack.jpg');  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: black;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  color: white;
  font-size: 18px;
  font-family: 'Encode Sans Expanded', sans-serif;
}

a:visited {
  text-decoration: none;
  color: white;
}

h2 {
  font-family: 'Days One', sans-serif;
  font-size: 5rem;
}

.title {
  width: 25vw;
}

.body {
  width: 25vw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 250px;
}

button {
  background-color: #007fff;
  color: white;
  margin: 20px 2px;
  padding: 10px;
  width: 100px;
  font-family: 'Encode Sans Expanded', sans-serif;
  border-radius: 0.70em;
  border: 0px;
  display: flex;
  align-self: center;
  justify-content: center;
}



/*      topnav        */

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ff00ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.topnav a:hover {
  background-color: #ff00ff;
  color: white;
}

.topnav a.active {
  background-color: #007fff;
  color: white;
}

/*       Create profile             */ 

.profile-img {
  width: 150px;
  border-radius: 0.75em;
  margin: 20px;
}

/*      View Playlist        */

.authorbtns {
  display: flex;
  flex-direction: row;
}

/* Login */

.small {
  font-size: 0.8rem;
}

.search-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 4.5%;
}

.search-title {
  max-width: 350px;
}

.jukebox {
  background-image: url('/images/jukebox2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 60%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-form {
  position: absolute;

}

/*   Profile.hbs    

.profile {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  width: 60%;
  position:relative;
  left: 20px;
  font-size: large;
}

/* View-playlist.hbs */
/*
.view-playlist {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 10px;
  margin: 15px;
}

.search-song {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #7f00ff';
  padding: 10px;
  margin: 15px;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 20px;
  margin: 10px;
  position: center;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  padding: 10px;
  margin: 15px;
}

.search-playlist {
  display: flex;
  justify-content: center;
} */
