<p>Welcome, {{myProfile.display_name}}</p> 

<img src="{{myProfile.images.0.url}}" alt="profile picture">

<div class="add-song">

<h2>Create a playlist</h2>

<form class="create-form" action="/create-playlist" method="post">
    <label for="name">Playlist Name:</label>
    <input type="text" name="name">

    <label for="description">Description:</label>
    <textarea name="description" cols="30" rows="10"></textarea>

    <button type="submit">Create your playlist!</button>
</form>

</div>
