<h2>Create a playlist</h2>

<p>Welcome, {{profile.display_name}}</p> 

<form action="/create-playlist" method="post">
<button>Create your playlist</button>
</form>

<form action="create/logout" method="post">
<button type="submit">Logout</button>
</form>
