<h2>My playlists</h2>
<div class="my-playlist">
    <ul>
        {{#each userPlaylists}}
        <li><a href="/viewplaylist/{{this.id}}">{{this.name}}</a> - {{description}}</li>
        {{/each}}
    </ul>
</div>