<div id='form'>
  <h2>Search Playlist</h2>

  <form action='/search-playlist' method='post'>

    <label for='name'>Title</label>
    <input type='text' name='name' />

    <label for='author'>Author</label>
    <input type='text' name='author'/>

    <button type="submit">Search</button>
  </form>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</div>